@model UserEntity.User

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "OnlineLogisticsRegistration", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.name)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.mobileNumber)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.mobileNumber)
            </td>
        </tr>
        <tr>
            <td>
                Gender
            </td>
            <td>
                Male
                @Html.RadioButtonFor(Model => Model.gender, "Male")
                Female
                @Html.RadioButtonFor(Model => Model.gender, "Female")
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.lorryType)
            </td>
            <td>
                @Html.EnumDropDownListFor(Model => Model.lorryType,"Select Lorry Type")
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.userName)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.userName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.password)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.password)
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <input type="submit" id="register" value="Register"/>
            </td>
        </tr>
    </table>
}
